#g-logo {
    width: 272px;
    height: 233px;
    padding-top: 109px;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
#search-box {
    height: 40px;
    width: 30%;
    padding-top: -110px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -120px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 3px 5px 2px rgba(0,0,0,.25);

}
input {
    font-size: 12pt;
    margin-top: 11px;
    border: none;
    outline-width: 0;
}
.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    font-size: 9.5pt;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: #211E1E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    text-decoration: underline;
}